body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p,span,b,li,ul,img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.global {
    width: 60vw; 
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
    main section > * {
        margin-top: 10px;
    }
    main > section.skills {
        width: 300px;
        border-right: 10px solid transparent;
    }
    main > section.introduction {
        flex-grow: 1;
        background: red;
    }